{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Main.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static '/js/jquery-1.9.1.min.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Main">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-grey-80 u-header u-header" id="sec-a57c"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 4px 8px; font-size: calc(1em + 8px);">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-light-3" href="{% url "home" %}" style="padding: 22px 30px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-light-3" href="{% url "menu" %}" style="padding: 22px 30px;">Menu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-light-3" href="{% url "contact" %}" style="padding: 22px 30px;">Contact</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url "home" %}">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url "menu" %}">Menu</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url "contact" %}">Contact</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav><span class="u-file-icon u-icon u-icon-1"><img src="{% static "images/8fad05bd-e0f5-459a-a9d2-fcaddfa24542.png" %}" alt=""></span>
      </div></header>

<section class="u-clearfix u-image u-shading u-section-1" id="sec-2b24">

          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                <a href="#cookies" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-1">Cookies</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2">
                <a href="#khari" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-2">Kharis</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                <a href="#toast" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-3">Toasts</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4">
                <a href="#burger" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-4">Burgers</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5">
                <a href="#starters" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-5">Starters</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-6">
                <a href="#patties" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-6">Patties</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-7">
                <a href="#rolls" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-7">Rolls</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-8">
                <a href="#others" class="u-align-center u-btn u-btn-round u-button-style u-custom-font u-custom-item u-font-georgia u-grey-10 u-radius-4 u-text-black u-btn-8">Others</a>
              </div>
            </div>


</section>

<!--    HERE ONE SECTION STARTS -->

    {% for content in contents %}
    {% for tag,item in content.items %}

    <section class="u-clearfix u-image u-shading u-section-5" id={{ tag }} data-image-width="360" data-image-height="240">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-custom-font u-font-georgia u-text u-text-default u-text-1">{{ tag }}</h3><!--products--><!--products_options_json-->
        <div class="u-layout-grid u-products u-products-1">
          <div class="u-repeater u-repeater-1"><!--product_item-->

<!--    HERE ONE PRODUCT STARTS  -->

	    {% for j in item %}
            <div class="u-align-center u-border-2 u-border-white u-container-style u-image u-products-item u-repeater-item u-image-1" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <form method="POST">
                {% csrf_token %}
                <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-2" src="{% static j.image %}" data-image-width="1024" data-image-height="768" name="image">
                <h5 class="u-align-center u-custom-font u-font-georgia u-text u-text-body-alt-color u-text-2" >{{ j.name_grms }}</h5>
                <h4 class="u-align-center u-text u-text-palette-4-light-3 u-text-3">{{ j.price }} ₹</h4>
                <button type="submit" class="u-border-none u-btn u-button-style u-palette-2-light-3 u-product-control u-btn-1">Buy now</button>
                <input type="hidden" value="{{ j.price }}" name="price">
                <input type="hidden" value="{{ j.image }}" name="image">
                <input type="hidden" value="{{ j.name_grms }}" name="name">
                {% comment %} <a href="#" class="u-border-none u-btn u-button-style u-palette-2-light-3 u-product-control u-btn-1">Buy now</a>  {% endcomment %}
              </form>
              </div>
            </div>
	    {% endfor %}

<!--    HERE ONE PRODUCT ENDS -->

          </div>
        </div><!--/products-->
      </div>
    </section>
    {% endfor %}
    {% endfor %}
 
<!--    HERE ONE SECTION STARTS -->

</body></html>